body { background: #fd287d; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-uploader-0 { color: #1da122; font-size: 16px; margin-bottom: 5px; }
.block-token-1 { color: #278a46; font-size: 21px; margin-bottom: 5px; }
.block-helper-2 { color: #818fe7; font-size: 17px; margin-bottom: 5px; }
.block-user-3 { color: #8aff55; font-size: 18px; margin-bottom: 5px; }
.block-cluster-4 { color: #244aea; font-size: 15px; margin-bottom: 5px; }
.block-cart-5 { color: #38fb02; font-size: 21px; margin-bottom: 5px; }
.block-database-6 { color: #468bab; font-size: 20px; margin-bottom: 5px; }